{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}

<div class="main-panel bg-dark">
    <div class="content bg-dark">
        <div class="page-inner">
        
        
        
        
            <div class="mt-2 mb-4">
            <h1 class="title1 text-light">History</h1>
            </div>
                  
                
                <div class="mb-5 row">
        <!----	<div class="col text-center card p-4 bg-light">---->
                
              <div class="col card p-4 shadow-lg bg-dark text-light">
                            
<table cellspacing="0" cellpadding="0" border="0" width="100%" class="table table-hover text-dark">

<tbody><tr>
<form method="post" name="opts"></form><input type="hidden" name="form_id" value="17048009592723"><input type="hidden" name="form_token" value="75644c2fdc636a45133863ad820e1825">
<input type="hidden" name="a" value="history">
<input type="hidden" name="page" value="1">
<td>
<select name="type" class="inpts" onchange="document.opts.submit();">
<option value="">All transactions</option>
<option value="deposit">Deposit</option>
<option value="withdrawal">Withdrawal</option>
<option value="earning">Earning</option>
<option value="commissions">Referral commission</option>
</select>
<br><img src="images/q.gif" width="1" height="4"><br>
<select name="ec" class="inpts">
<option value="-1">All eCurrencies</option>
<option value="1000">BITCOIN</option>
<option value="1007">USDT</option>
<option value="1008">DOGECOIN</option>
<option value="1009">BNB</option>
<option value="1010">ETHEREUM</option>
</select>
</td>
<td align="right">
From: <select name="month_from" class="inpts">
<option value="1">Jan
</option><option value="2">Feb
</option><option value="3">Mar
</option><option value="4">Apr
</option><option value="5">May
</option><option value="6">Jun
</option><option value="7">Jul
</option><option value="8">Aug
</option><option value="9">Sep
</option><option value="10">Oct
</option><option value="11">Nov
</option><option value="12" selected="">Dec
</option></select> &nbsp;
<select name="day_from" class="inpts">
<option value="1">1
</option><option value="2">2
</option><option value="3">3
</option><option value="4">4
</option><option value="5">5
</option><option value="6">6
</option><option value="7">7
</option><option value="8">8
</option><option value="9">9
</option><option value="10">10
</option><option value="11">11
</option><option value="12">12
</option><option value="13">13
</option><option value="14">14
</option><option value="15">15
</option><option value="16">16
</option><option value="17" selected="">17
</option><option value="18">18
</option><option value="19">19
</option><option value="20">20
</option><option value="21">21
</option><option value="22">22
</option><option value="23">23
</option><option value="24">24
</option><option value="25">25
</option><option value="26">26
</option><option value="27">27
</option><option value="28">28
</option><option value="29">29
</option><option value="30">30
</option><option value="31">31
</option></select> &nbsp;

<select name="year_from" class="inpts">
<option value="2013">2013
</option><option value="2014">2014
</option><option value="2015">2015
</option><option value="2016">2016
</option><option value="2017">2017
</option><option value="2018">2018
</option><option value="2019">2019
</option><option value="2020">2020
</option><option value="2021">2021
</option><option value="2022">2022
</option><option value="2023" selected="">2023
</option><option value="2024">2024
</option></select><br><img src="images/q.gif" width="1" height="4"><br>

To: <select name="month_to" class="inpts">
<option value="1" selected="">Jan
</option><option value="2">Feb
</option><option value="3">Mar
</option><option value="4">Apr
</option><option value="5">May
</option><option value="6">Jun
</option><option value="7">Jul
</option><option value="8">Aug
</option><option value="9">Sep
</option><option value="10">Oct
</option><option value="11">Nov
</option><option value="12">Dec
</option></select> &nbsp;
<select name="day_to" class="inpts">
<option value="1">1
</option><option value="2">2
</option><option value="3">3
</option><option value="4">4
</option><option value="5">5
</option><option value="6">6
</option><option value="7">7
</option><option value="8">8
</option><option value="9" selected="">9
</option><option value="10">10
</option><option value="11">11
</option><option value="12">12
</option><option value="13">13
</option><option value="14">14
</option><option value="15">15
</option><option value="16">16
</option><option value="17">17
</option><option value="18">18
</option><option value="19">19
</option><option value="20">20
</option><option value="21">21
</option><option value="22">22
</option><option value="23">23
</option><option value="24">24
</option><option value="25">25
</option><option value="26">26
</option><option value="27">27
</option><option value="28">28
</option><option value="29">29
</option><option value="30">30
</option><option value="31">31
</option></select> &nbsp;

<select name="year_to" class="inpts">
<option value="2013">2013
</option><option value="2014">2014
</option><option value="2015">2015
</option><option value="2016">2016
</option><option value="2017">2017
</option><option value="2018">2018
</option><option value="2019">2019
</option><option value="2020">2020
</option><option value="2021">2021
</option><option value="2022">2022
</option><option value="2023">2023
</option><option value="2024" selected="">2024
</option></select>

</td>
<td>
&nbsp; <input type="submit" value="Go" class="btn btn-primary">
</td>
</tr></tbody></table>

<br><br>


<table cellspacing="1" cellpadding="2" border="0" width="100%" class="table table-hover text-light">
<tbody><tr>
<th class="inheader"><b>Type</b></th>
<th class="inheader" width="200"><b>Amount</b></th>
<th class="inheader" width="170"><b>Date</b></th>
</tr>
<tr>
<td colspan="3" align="center">No transactions found</td>
</tr>
<tr><td colspan="3">&nbsp;</td>



</tr></tbody></table>

<ul class="pagination"><li class="page-item"><a class="prev page-link disabled">&lt;&lt;</a></li><li class="page-item active"><a class="page-link">1</a></li><li class="page-item"><a class="next page-link disabled">&gt;&gt;</a></li></ul>

      
            </div>
        
        
        
  </div>
    <!--<footer class="footer bg-dark text-light">
            <div class="container-fluid">
                <div class="row copyright text-center text-align-center">
                    <p>All Rights Reserved &copy; Blezos Trade 2022</p>
                </div>
            </div>
        </footer>-->
    </div>
</div>
</div>

{% endblock content %}