{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}


<div class="main-panel bg-dark">
    <div class="content bg-dark">
        <div class="page-inner">
        
            <div class="mt-2 mb-5">
                <h1 class="title1 text-light">Change Your password</h1> <br> <br>
            </div>
                    
                                <div class="row mb-5">
                <div class="col-lg-8 offset-lg-2 card p-4 shadow-lg bg-dark">
                
                
                
                   



<script language="javascript">
    function IsNumeric(sText) {
        var ValidChars = "0123456789.";
        var IsNumber=true;
        var Char;
        if (sText == '') return false;
        for (i = 0; i < sText.length && IsNumber == true; i++) { 
            Char = sText.charAt(i); 
            if (ValidChars.indexOf(Char) == -1) {
                IsNumber = false;
            }
        }
        return IsNumber;
    }

    function checkform() {
        if (document.editform.fullname.value == '') {
            alert("Please type your full name!");
            document.editform.fullname.focus();
            return false;
        }


        if (document.editform.password.value != document.editform.password2.value) {
            alert("Please check your password!");
            document.editform.fullname.focus();
            return false;
        }




        if (document.editform.email.value == '') {
            alert("Please enter your e-mail address!");
            document.editform.email.focus();
            return false;
        }


        return true;
    }
</script>


<br>
<form method="post" onsubmit="return checkform()" name="editform">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        <strong>{{ message.tags }}!</strong> {{ message }}
    </div>
    {% endfor %}
    {% endif %}
<table cellspacing="0" cellpadding="2" border="0" class="table table-hover">
<tbody><tr>
<td>Account Name:</td>
<td>{{ user.username }}</td>
</tr><tr>
<td>Registration date:</td>
<td>{{ user.date_joined }}</td>
</tr><tr>
<td>Your Old Password</td>
<td><input type="text" name="old_password" value="" class="form-control bg-dark text-light" size="30">
</td></tr>

<tr>
<td>New Password:</td>
<td><input type="password" name="new_password1" value="" class="form-control bg-dark text-light" size="30"></td>
</tr><tr>
<td>Retype Password:</td>
<td><input type="password" name="new_password2" value="" class="form-control bg-dark text-light" size="30"></td>
</tr>
<!--
<tr>
<td>Your BITCOIN Admin:</td>
<td><input type="text" class="form-control bg-dark text-light" size="30" name="pay_account[1000][Admin]" value=""></td>
</tr>
<tr>
<td>Your USDT Admin:</td>
<td><input type="text" class="form-control bg-dark text-light" size="30" name="pay_account[1007][Admin]" value=""></td>
</tr>
<tr>
<td>Your DOGECOIN Account ID:</td>
<td><input type="text" class="form-control bg-dark text-light" size="30" name="pay_account[1008][Account ID]" value=""></td>
</tr>
<tr>
<td>Your BNB Account ID:</td>
<td><input type="text" class="form-control bg-dark text-light" size="30" name="pay_account[1009][Account ID]" value=""></td>
</tr>
<tr>
<td>Your ETHEREUM Account ID:</td>
<td><input type="text" class="form-control bg-dark text-light" size="30" name="pay_account[1010][Account ID]" value=""></td>
</tr>

<tr>
<td>Your E-mail address:</td>
<td><input type="text" name="email" value="{{ user.email }}" class="form-control bg-dark text-light" size="30"></td>
</tr>
-->

<tr>
<td>&nbsp;</td>
<td><input type="submit" value="Change Account data" class="btn btn-primary"></td>
</tr></tbody></table>
</form>
                    
                    
                </div>
            </div>
        
        
        
        
        
  </div>
    <!--<footer class="footer bg-dark text-light">
            <div class="container-fluid">
                <div class="row copyright text-center text-align-center">
                    <p>All Rights Reserved &copy; Blezos Trade 2022</p>
                </div>
            </div>
        </footer>-->
    </div>
</div>


{% endblock content %}